.date_calendar{
  width: 500px;
  margin: 0 auto;
}
.text_input{
  width: 100%;
}

.text_input:last-child{
  margin-top: 20px;
}
.btn_date{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.table_content{
  padding: 100px;
}